In [1]:
import numpy as np

In [4]:
population = np.random.randint(0, 90, 10000)

In [5]:
population[0:20]

array([89, 51, 75, 13, 34, 55, 89, 18, 13, 56, 39, 62, 50, 30, 69, 18, 17,
        0, 20, 37])

In [7]:
np.random.seed(115)  # seed -- consistency

sample = np.random.choice(a=population, size=100)

In [8]:
sample = np.random.choice(a=population, size=100)

In [9]:
sample.mean()

43.7

In [16]:
population.mean()

44.2663

In [18]:
np.random.seed(10)
sample1 = np.random.choice(a=population, size=100)
sample2 = np.random.choice(a=population, size=100)

In [19]:
sample1.mean()

45.38

In [20]:
sample2.mean()

47.7

In [1]:
# Covariance: In probability theory and statistics, covariance is a measure of the joint variability of two random variables.
# cov(X,Y) = E[(X - E[X])(Y - E[Y])]
# Correlation: correlation or dependence is any statistical relationship, whether causal or not, between two random variables or bivariate data.

In [2]:
import seaborn as sns

dataset = sns.load_dataset("tips")
df = dataset.copy()

In [3]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [5]:

import researchpy as rp

In [6]:
rp.summary_cont(df[["total_bill", "tip","size"]])

C:\Users\Derya\anaconda3\lib\site-packages\researchpy\summary.py:60: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [7]:
rp.summary_cat(df[["sex", "smoker","day"]])

C:\Users\Derya\anaconda3\lib\site-packages\researchpy\summary.py:225: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [8]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [9]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

In [10]:
# Confidence Interval: CI is a range of estimates for an unknown parameter.
# CI = X  ±  Z(s/√n)   (Z= 1,96)       %95 confidence

In [11]:
import numpy as np

prices = np.random.randint(5, 150, 1000)

In [12]:
prices.mean()

60.119

In [15]:
import statsmodels.stats.api as sms

sms.DescrStatsW(prices).tconfint_mean()

In [16]:
sms.DescrStatsW(prices).tconfint_mean()     # Confidence interval

(58.358704765138704, 61.879295234861296)